In [3]:
import pandas as pd
import numpy as np
import scipy as sp
from scipy import stats
import matplotlib as mpl
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [4]:
%matplotlib inline

In [5]:
Cust_Order=pd.read_csv(r'C:\Users\RAHUL CHAUHAN\Downloads\Costomer+OrderForm.csv')

In [6]:
Cust_Order.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [7]:
Cust_Order.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [12]:
Phill_value=Cust_Order['Phillippines'].value_counts()
Indo_value=Cust_Order['Indonesia'].value_counts()
Malta_value=Cust_Order['Malta'].value_counts()
India_value=Cust_Order['India'].value_counts()
print(Phill_value,'\n',Indo_value,'\n',Malta_value,'\n',India_value)

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
 Error Free    267
Defective      33
Name: Indonesia, dtype: int64
 Error Free    269
Defective      31
Name: Malta, dtype: int64
 Error Free    280
Defective      20
Name: India, dtype: int64

In [16]:
chiStats=sp.stats.chi2_contingency([[271,267,269,280],[29,33,31,20]])
print('Test t=%f p-value=%f'%(chiStats[0],chiStats[1]))
print('Interpret by p-value')
if chiStats[1] < 0.05:
    print('Reject Null Hypothesis')
else:
    print('Accept Null Hypothesis')

Test t=3.858961 p-value=0.277102
Interpret by p-value
Accept Null Hypothesis

In [17]:
#critical value=0.1
alpha=0.05

In [18]:
critical_value=sp.stats.chi2.ppf(q=1-alpha,df=chiStats[2])
observed_chi_val = chiStats[0]
print('Interpret by critical value')
if observed_chi_val <= critical_value:
    print('Null hypothesis accepted')
else:
    print('Null hypthesis rejected')

Interpret by critical value
Null hypothesis accepted

In [19]:
#Hence, proportion of defective % across center is same